@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --dark: #000;
  --dark_color: #ff014f;
  --light_dark_color: rgba(255, 1, 79, 0.7);
  --alt_dark: #050c12;
  --light: #fff;
  --yello_color: #ffc107;
  --alt_light: #f9fafb;
}

@theme {
  --color-dark: var(--dark);
  --color-dark_color: var(--dark_color);
  --color-light_dark_color: var(--light_dark_color);
  --color-alt_dark: var(--alt_dark);
  --color-light: var(--light);
  --color-yello_color: var(--yello_color);
  --color-alt_light: var(--alt_light);
  --animate-hand_motate: hand_motion 2s 0s ease infinite;
  --animate-waveFill: waveFill 5s 0s ease infinite;
  --animate-leftRight: leftRight 2s 0s linear infinite;
}

@layer utilities {
  @keyframes hand_motion {
    0% {
      transform: rotate(-10deg);
    }
    50% {
      transform: rotate(10deg);
    }
    100% {
      transform: rotate(-10deg);
    }
  }

  @keyframes waveFill {
    0%,
    100% {
      clip-path: polygon(
        0% 20%,
        16% 30%,
        34% 40%,
        51% 50%,
        67% 60%,
        84% 70%,
        100% 80%,
        100% 90%,
        0% 100%
      );
    }
    50% {
      clip-path: polygon(
        0% 80%,
        16% 70%,
        34% 60%,
        51% 50%,
        67% 40%,
        84% 30%,
        100% 20%,
        100% 10%,
        0% 0%
      );
    }
  }

  @keyframes leftRight {
    0% {
      transform: translateX(0px);
    }

    50% {
      transform: translateX(20px);
    }
    100% {
      transform: translateX(0px);
    }
  }
}

body {
  overflow: hidden;
  font-family: var(--font-cairo), sans-serif !important;
}

.dark_mood_text {
  color: black;
}
.light_mood_text {
  color: #fff;
}
.light_bg {
  background-color: var(--light);
}
.dark_bg {
  background-color: var(--dark);
}
