@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-dark: var(--dark);
  --color-light: var(--light);
  --color-main_light_text: var(--main_light_text);
  --color-alt_light_text: var(--alt_light_text);
  --color-main_dark_text: var(--main_dark_text);
  --color-alt_dark_text: var(--alt_dark_text);
  --animate-fill_text: fill_text 4s ease-in-out infinite;
}

@layer utilities {
  .text_stroke {
    -webkit-text-stroke: 2px var(--main_light_text);
    color: transparent;
  }

  .clip-wave {
    animation: waveFill 4s ease-in-out infinite;
    clip-path: polygon(
      0% 45%,
      15% 44%,
      32% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  @keyframes waveFill {
    0%,
    100% {
      clip-path: polygon(
        0% 45%,
        15% 44%,
        32% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%
      );
    }
    50% {
      clip-path: polygon(
        0% 60%,
        16% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%
      );
    }
  }
}

@keyframes fill_text {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      15% 44%,
      32% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 45%,
      15% 44%,
      32% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }
}

:root {
  --dark: #111827;
  --light: #f9fafb;
  --main_light_text: #51a2ff;
  --alt_light_text: #6b7280;
  --main_dark_text: #bedbff;
  --alt_dark_text: #0d0e0f;
}

.dark_mood_text {
  color: black;
}
.light_mood_text {
  color: #fff;
}
.light_bg {
  background-color: var(--light);
}
.dark_bg {
  background-color: var(--dark);
}
